In [1]:
s="swaraj"

In [2]:
l=[2,4.5,True,"data"]

In [3]:
f=6.57

In [4]:
t=("swaraj",23,3.45)

In [6]:
print(type(t))

<class 'tuple'>

Q2. Given are some following variables containing data: ans- string , list , num

Q3. Explain the use of the following operators using an example: (i) / - give quotient of two numbers upto decimal places ex- 3/3=1.0 (ii) % - give reminder of two numbers ex-3%2=1 (iii) //- give quotient but only integer places ex-3/3=1 (iv) ** - it is used for calculating exponential of one on another number ex-3**3=27

Question 4.Create a list of length 10 of your choice containing multiple type data.using for loop print the data type

In [7]:
l=[1,"swraj","data_science",98.6,4,9,"python","jupyter",23,"love"]
for i in l:
    print(i)
    print (type(i))

1
<class 'int'>
swraj
<class 'str'>
data_science
<class 'str'>
98.6
<class 'float'>
4
<class 'int'>
9
<class 'int'>
python
<class 'str'>
jupyter
<class 'str'>
23
<class 'int'>
love
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
A=int(input())
B=int(input())
c=0
while A>B:
    if A%B==0:
        print("purely divisible" and type(A/B)==int)
        c+=1
        A/B==''
    else:
        print("not divisible")

In [2]:
a=int(input())
b=int(input())
c=0
if a/b==0:
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("not divisible")

45
2
not divisible

In [3]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [13]:
l=[3,4,5,6,86,4,7,6,8,5,8,9,68,59,40,68,445,65,56,45,34,67,49,35,99]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else:
        l2.append(i)

In [14]:
l1

[3, 6, 6, 9, 45, 99]

In [15]:
l2

[4, 5, 86, 4, 7, 8, 5, 8, 68, 59, 40, 68, 445, 65, 56, 34, 67, 49, 35]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [16]:
l=[2,3,4,5,7]

In [17]:
l[1]=10

In [18]:
l

[2, 10, 4, 5, 7]

In [19]:
# but

In [20]:
t=(2,3,4,5)

In [21]:
t[1]=56

TypeError: 'tuple' object does not support item assignment